@inherits ViewPage<WikiArc.Model.Operations.servicesResponse>
@{
   
    ViewBag.Title = "services";
}

<hgroup class="title">
    <h1>Directory List</h1>
    <h2></h2>
</hgroup>
<section class="contact">
    <header>
        <h3>Folders:</h3>
    </header>
    <p>
         @foreach(string obj in @Model.folders)
         {
            <a href="#">@obj</a>
         }
    </p>

    <header>
        <h3>Services:</h3>
    </header>
    <p>
         @foreach(WikiArc.Model.Types.service obj in @Model.services)
         {
            <a href="#">@obj.name</a>
         }
    </p>

</section>
       
            
